src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

	<flow name="api-main">
		<http:listener config-ref="HTTP_Listener_Config" path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="api-config" />
		<error-handler ref="common-api-kit-errors" />
	</flow>

	<flow name="api-console">
		<http:listener config-ref="HTTP_Listener_Config" path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-config" />
		<error-handler ref="common-api-kit-errors" />
	</flow>

	<flow name="get:\ping:api-config">
		<flow-ref doc:name="Refer to sf-get-status" doc:id="9c76bfb4-1d16-4dcc-8ddb-2131cb352ac4" name="sf-get-status"/>
	</flow>
	<flow name="post:\ping:application\json:api-config">
		<flow-ref doc:name="Refer to sf-post-status" doc:id="49f9217b-8a66-4f39-8e53-c13405ba3608" name="sf-post-status"/>
	</flow>

	<flow name="get:\pets:api-config">
		<flow-ref doc:name="Refer to sf-get-pets-by-status" doc:id="5ec36062-2498-4bbc-b6e9-6fc00e5f3b23" name="sf-get-pets-by-status"/>
	</flow>
	<flow name="post:\pets:application\json:api-config">
		<flow-ref doc:name="Refer to sf-post-pets" doc:id="ea3db9a3-8b49-41ba-b89d-589d20c9e84f" name="sf-post-pets"/>
	</flow>
	<flow name="get:\pet\(petId):api-config">
		<set-variable variableName="petId" value="#[attributes.uriParams.'petId']" />
		<flow-ref doc:name="Refer to sf-get-pets-by-id" doc:id="e4867b7f-a0f7-4b90-89b7-ad2dc9fc3787" name="sf-get-pets-by-id"/>
	</flow>
	<flow name="post:\pet\(petId):api-config">
		<set-variable variableName="petId" value="#[attributes.uriParams.'petId']" />
		<flow-ref doc:name="Refer to sf-post-pets-by-id" doc:id="1c4c8838-20e5-4a8c-b93d-c0ddc08f5fdb" name="sf-post-pets-by-id"/>
	</flow>	
	
	
<!-- 	<flow name="put:\sample-resource:application\json:api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
	"sampleField1": 987654321,
	"sampleFileld2": "String here..."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="delete:\sample-resource\(id):api-config">
		<ee:transform doc:name="Transform Message">
			<ee:variables>
				<ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
	"id": 123456,
	"status": "deleted..."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="post:\sample-resource:application\json:api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
{
	"sampleField1": 987654321,
	"sampleFileld2": "String here..."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	 <flow name="get:\sample-resource:api-config">
		<ee:transform doc:name="Transform Message">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
-&#45;&#45;
[{
	"sampleField1": 987654321,
	"sampleFileld2": "String here..."
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>-->
</mule>
